<div class="list row">
  <div class="col-md-12">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar por Nombre"
        [(ngModel)]="description"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          (click)="searchTitle()"
        >
          Buscar Producto
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h4 class="lista">Lista de Productos en el Sistema</h4>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let producto of products; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveTutorial(producto, i)"
      >
        {{ producto.nombre }}
      </li>
    </ul>

    <button class="boton w-sm-100" (click)="removeAllTutorials()">
      Eliminar todos los Productos
    </button>
  </div>
  <div class="col-md-6">
    <app-producto-details
      [viewMode]="true"
      [currentTutorial]="currentTutorial"
    ></app-producto-details>
  </div>
</div>
