:root{
    --primario: #9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: rgb(162, 131, 9);
    --blanco: #FFF;
    --negro: #000;

    --fuentePrincipal: font-family: 'Krub', sans-serif;
    font-family: 'Staatliches', cursive;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;  /*permite que i 1rem sean 10 px*/
}

*, *:before, after{
    box-sizing: inherit;
}

/* GLOBALES */
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

p{
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--blanco);
}

a{
    text-decoration: none;  /*eliminar interlineado*/
}

img{
    width: 100%;

}
.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

h1, h2, h3{
    text-align: center;
    color: var(--secundario);
    font-family: var(--fuentePrincipal);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.4rem;
}

/* header  */
.header{
    background-color: var(--negro);  /*sombreado a la parte de atras de la imagen */
    display:  flex;
    justify-content: center; /*es para centrar*/
}

.header__logo{
    margin: 3rem 0;
}

/* footer */
.footer{
    background-color: var(--primarioOscuro);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto{
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2.2rem;
}



/* navegacion */
.navegacion{
    background-color: var(--primarioOscuro);  /*sombreado de la navegacion*/
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem  /*separar el de tienda y nosotros*/;
}

.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    color: var(--blanco);
    font-size: 3rem;
}



.navegacion__enlace--activo,
.navegacion__enlace:hover {
   color: var(--secundario);
}

/* GRID */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;   /*agregar ese sombreado a la imagenes*/
}
@media (min-width: 768px) {
     .grid{
        grid-template-columns: repeat(3, 1fr);
     }
}


/* PRODUCTOS */

.producto{
    background-color: var(--primarioOscuro);  /*la sombra para cada imagen*/
    padding: 1rem;  /*para separar cada imagen*/
}

.producto__imagen{
    width: 100%;  /*para que la sombra quede bien centrada y tome el 100% de espacio disponible*/
}

.producto__nombre{
    font-size: 2.5rem; /*tamaño*/
}

.producto__precio{
    font-size: 2.8rem; /*tamaño de la letra*/
    color: var(--secundario);
}

/* usaremos union de nombre y precio para darle la misma fuente */
.producto__nombre,
.producto__precio{
    font-family: var(--fuentePrincipal);
    margin: 1rem 0;   /*espacio entre precio y nombr*/
    text-align: center;
    line-height: 1.2;
}

/* GRAFICOS O LAS IMAGENES CON DOS ESPACIOS */
.grafico{
    min-height: 30rem;
    background-repeat: no-repeat;
    background-size: cover; /*para que hagarre todo el espacio que le corresponda a la img */
    grid-column: 1 / 3;
}
.grafico__camisas{
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}

.grafico__node{
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}
@media (min-width: 768px) {
    .grafico__node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

/* Apartado de NOSOTROS */
.nosotros{
    display: grid; /* para hacer una zona de trajaro, como contenedor*/
    grid-template-rows: repeat(2, auto);
}
@media (min-width: 768px ) {
    .nosotros{
        grid-template-columns: repeat(2, 1fr); /*hacer en dos columnas el contenido*/
        column-gap: 2rem;  /*alejar el texto de la imagen*/
    }
}


.nosotros__imagen{  /*esto es para pasar la imagen de abajo para arriba*/
    grid-row: 1 / 2;
}

@media (min-width: 768px) {
     .nosotros__imagen{
        grid-column: 2 / 3;
     }
}

/* bloques */

.bloques{
    display: grid; /*hacer bloque*/
    grid-template-columns: repeat(2, 1fr); /*hacer 2 columnas*/
    gap: 2rem; /*este gap hace una comlumna esta para sepaarar contenidox*/
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr); /*hacer 2 columnas*/
    }
}

.bloque{
    text-align: center;
}

.bloque__titulo{
    margin: 0;
}

/* pagina del producto */


@media (min-width: 768px) {
    .camisa{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.formulario{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.formulario__campo { 
    border: 1rem solid var(--primarioOscuro);
    background-color: var(--primario);
    border-radius: 1rem;
    color:var(--blanco);
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
  }
  @media (max-width: 768px) {
      .formulario__campo { 
        width: 100%;
      }
  }

.formulario__submit{
    background-color: var(--secundario);
    border: none;
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    padding: 2rem;
    transition: background-color .3s ease ;
    grid-column: 1 / 3;
}

.formulario__submit:hover{
    cursor: pointer; /*es para que aparezca la manito al llegar al boton de enviar al carrito*/
    background-color: var(--secundarioOscuro); /*darle estilo de degradado*/
}






