<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoffeWeb</title>
    <link rel="stylesheet" href="/normalize.css">  <!--llamamos a las hojas de estilo de css y abajo tambien-->
        <link rel="preconnect" href="https://fonts.googleapis.com">  <!--agregaremos 3 estilos de google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

</head>
<body>

<div class="nav-bg">
  <nav class="navegacion-principal contenedor">
    <a href="farmacia">PRODUCTOS REGISTRADOS</a>
    <a href="clientes">Clientes</a>
    <a href="productos">Productos</a>
    <a href="empleados">Empleados</a>
    <a href="proveedores">Proveedores</a>
    <a href="ventas">Ventas</a>
    <a href="farmacia">PANEL</a>
    </nav>
  </div>


<div class="nav-bg">
  <nav class="navegacion-principal contenedor">
    <a href="addcliente">Agregar Clientes</a>
    <a href="addproducto">Agregar Producto</a>
    <a href="addempleado">Agregar Empleados</a>
    <a href="addproveedor">Agregar Proveedores</a>
    <a href="addventa">Agregar venta</a>
    <a href="#">Ayuda</a>
  </nav>
</div>
    <header class="header">
        <!-- <video id="myVideo" autoplay="" loop="" playsinline="" muted="" style="width:100%">
            <source src="https://farmaciasgaleno.com.gt/Image/Video/Home-Video.mp4" type="video/mp4">
        </video> -->
        <div class="contenedor">
        </div>
        <!-- <div class="header__texto">
            <h2 class="no-margin">Blog de Cafe Marlop Cursos</h2>
            <p class="no-magin"> Aprende de los expertos con las mejores recetas y consejos</p>
        </div> -->
    </header>
<!-- 
    <div class="contenedor contenido-principal">
        <main class="blog">
            <h3>Nuestros planes</h3>
            <article class="entrada">
                <div class="entrada__imagen">
                    <img src="https://farmaciasgaleno.com.gt/Image/SPMedicos/SPM_BNR2.jpg" alt="imagen blog">
                
                </div>

                <div class="entrada__contenido">
                    <h4>Programas de Salud</h4>
                    <p>
                        Los programas de salud o planes médicos otorgan a los pacientes un beneficio
                        el cual se refiere a un tratamiento adicional por medio de las compras realizadas 
                        en la cadena.  
                    </p>
                    <a href="entrada.html" class="boton boton--primario">Leer entrada</a>
                </div>
            </article>

            <article class="entrada">
                <div class="entrada__imagen">
                    <img src="img/oferta.jpg" alt="imagen blog">
                </div>

                <div class="entrada__contenido">
                    <h4 class="no-margin">3 Recetas de Cafe</h4>
                    <p>
                        El café es una infusión caliente que se consume en varios países de occidente. 
                        Su nombre deriva de un árbol: la planta cafeto cuyo grano es el que se utiliza para 
                        la realización de dicha infusión.   
                    </p>
                    <a href="entrada.html" class="boton boton--primario">Leer entrada</a>
                </div>
            </article>

            <article class="entrada">
                <div class="entrada__imagen">
                    <img src="https://farmaciasgaleno.com.gt/Image/Video/Ubicacion-Video.mp4" alt="imagen blog">
                </div>

                <div class="entrada__contenido">
                    <h4 class="no-margin">Beneficios del Cafe</h4>
                    <p>
                        El café es una infusión caliente que se consume en varios países de occidente. 
                        Su nombre deriva de un árbol: la planta cafeto cuyo grano es el que se utiliza para 
                        la realización de dicha infusión.   
                    </p>
                    <a href="entrada.html" class="boton boton--primario">Leer entrada</a>
                </div>
            </article>

        </main>

        <aside class="sidebar">
            <h3>Nymajuyu</h3>

            <ul class="cursos no-padding">

                <video id="myVideoUbicacion" autoplay="" loop="" playsinline="" muted="" style="width:100%; height:100%">
                    <source src="https://farmaciasgaleno.com.gt/Image/Video/Ubicacion-Video.mp4" type="video/mp4">
                </video>
                <li class="widget-curso" >
                    <h4 class="no-margin">Tecnicas de Extraccion de Cafe</h4>
                    <p class="widget-curso__label">Precio:
                        <span class="widget-curso__info">Gratis</span>
                    </p>
                    <p class="widget-curso__label">Cupo:
                        <span class="widget-curso__info">20</span>
                    </p>
                    <a href="nosotros.html" class="boton boton--secundario">Mas informacion</a>
                </li>

                <li class="widget-curso" >
                    <h4 class="no-margin">4 Recetas de Cafe para Principiantes</h4>
                    <p class="widget-curso__label">Precio:
                        <span class="widget-curso__info">Gratis</span>
                    </p>
                    <p class="widget-curso__label">Cupo:
                        <span class="widget-curso__info">20</span>
                    </p>
                    <a href="entrada.html" class="boton boton--secundario">Mas informacion</a>
                </li>


            </ul>
        </aside>
    </div>

    <footer class="footer">
        <div class="contenedor">

        </div>

    </footer>
    
</body>
</html> -->