:root{  /*con este root vmaos a definir los colorar para luego solo llamarlos ademas aca podemos llamar a front-zise */
  --blanco: #ffffff;
  --oscuro: #212121;
  --primario: #ffc107;
  --secunario: #0097a7;
  --gris: #757575;
  --grisclaro: #DFE9F3;
}
/* GLOBALES */
html{
  font-size: 62.5%;
  box-sizing: border-box; /*ademas estp evita que el tamaño varie o sea pequeño o grande*//*esto es para el box model del la pagina*/
  scroll-snap-type: y mandatory;

}

.edit-form {
  max-width: 400px;
  margin: auto;
}



.edit-form{  /*esto es para hacer un contenedor, es el fondo blanco donde estan los 3 iconos*/
  -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
  -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
  box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
  background-color: #DFE9F3;
  padding: 2rem; /*para dar espacion entre la img y el texto MIS SERVICIOS*/
  border-radius: 1rem; /*hacer que el fondo se hagan bordes*/
}

.flex {
  display: flex;
}
.alinear-derecha {
  justify-content: flex-end;
}

.boton{
  background-color: #0097a7; /*ponerle fondo al boton*/
  color: #ffffff;; /*el texto del boton en blanco*/
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 1rem;
  text-decoration: none; /*quite las lineas abajo del tecto que pone html*/
  text-transform: uppercase;  /*de minisculas a mayusculas*/
  font-weight: 600; /*nivel del negrita*/
  border-radius: .5rem; /*redondear los bordes del boton*/
  width: 60%;
  text-align: center ;
  border: none;
}
@media (min-width: 768px) {
  .boton{
     width: auto;
  }
}

.boton.hover{
  cursor: pointer;  /*al pulsar el boton con label aparezca una manito*/
}

h1,h2,h3,h4{
  text-align: center;
}

/* .status{
  padding: 2rem;
} */