<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      
      <div class="form-group">
        <label for="nombre">Nombres</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          required
          [(ngModel)]="venta.nombre"
          name="nombre"
        />
      </div>

      <div class="form-group">
        <label for="producto">producto</label>
        <input
          class="form-control"
          id="producto"
          required
          [(ngModel)]="venta.producto"
          name="producto"
        />
      </div>
      
      <div class="form-group">
        <label for="cantidad">cantidad</label>
        <input
          class="form-control"
          id="cantidad"
          required
          [(ngModel)]="venta.cantidad"
          name="cantidad"
        />
      </div>

      <div class="form-group">
        <label for="precio">precio</label>
        <input
          class="form-control"
          id="precio"
          required
          [(ngModel)]="venta.precio"
          name="precio"
        />
      </div>

      <div class="form-group">
        <label for="total">total</label>
        <input
          class="form-control"
          id="total"
          required
          [(ngModel)]="venta.total"
          name="total"
        />
      </div>

      
      <div class="form-group">
        <label for="fecha">fecha</label>
        <input
          class="form-control"
          id="fecha"
          required
          [(ngModel)]="venta.fecha"
          name="fecha"
        />
      </div>

      <div class="form-group">
        <label for="nit">nit </label>
        <input
          class="form-control"
          id="nit"
          required
          [(ngModel)]="venta.nit"
          name="nit"
        />
      </div>

      <button (click)="saveTutorial()" class="btn btn-success">Agregar venta</button>
    </div>

    <div *ngIf="submitted">
      <h4>Registro Exitoso!</h4>
      <button class="btn btn-success" (click)="newTutorial()">Agregar</button>
    </div>
  </div>
</div>
