<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoffeWeb</title>
    <link rel="stylesheet" href="/normalize.css">  <!--llamamos a las hojas de estilo de css y abajo tambien-->
        <link rel="preconnect" href="https://fonts.googleapis.com">  <!--agregaremos 3 estilos de google fonts-->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">

</head>
<div class="nav-bg">
    <nav class="navegacion-principal contenedor">
      <a href="farmacia">FARMACIA</a>
      <a href="listaproducto">PRODUCTOS DISPONIBLES</a>
      <a href="listacompra">COMPRAS</a>
      <a href="quienes">QUIENES SOMOS</a>
      <a href="seguros">SEGUROS</a>
      <!-- <a routerLink="ventas">CONTACTANOS</a> -->
    </nav>
  </div>
<body>

    <header class="header">
        <!-- <video id="myVideo" autoplay="" loop="" playsinline="" muted="" style="width:100%">
            <source src="https://farmaciasgaleno.com.gt/Image/Video/Home-Video.mp4" type="video/mp4">
        </video> -->
        <div class="contenedor">
        </div>
        <!-- <div class="header__texto">
            <h2 class="no-margin">Blog de Cafe Marlop Cursos</h2>
            <p class="no-magin"> Aprende de los expertos con las mejores recetas y consejos</p>
        </div> -->
    </header>

    <div class="contenedor contenido-principal">
        <main class="blog">
            <h3>Nuestros planes</h3>
            <article class="entrada">
                <div class="entrada__imagen">
                    <img src="https://farmaciasgaleno.com.gt/Image/SPMedicos/SPM_BNR2.jpg" alt="imagen blog">
                
                </div>

                <div class="entrada__contenido">
                    <h4>Programas de Salud</h4>
                    <p>
                        Los programas de salud o planes médicos otorgan a los pacientes un beneficio
                        el cual se refiere a un tratamiento adicional por medio de las compras realizadas 
                        en la cadena.  
                    </p>
                    <a href="seguros" class="boton1 boton--primario">ACERCA DE</a>
                </div>
            </article>

            <article class="entrada">
                <div class="entrada__imagen">
                    <img src="https://farmaciasgaleno.com.gt/Image/Sugerencias/SGRCS_BNR1.jpg" alt="imagen blog">
                </div>

                <div class="entrada__contenido">
                    <h4 class="no-margin">Sugerencias</h4>
                    <p>
                        Contactanos y dinos tu opinion sobre los productos y servicios
                        que ofrecemos 
                    </p>
                    <a href="quienes" class="boton1 boton--primario">LERR MAS</a>
                </div>
            </article>

            <article class="entrada">
                <h3 class="no-margin">PROMOCIONES</h3>
                <div class="entrada__imagen">
                    <img src="https://farmaciasgaleno.com.gt/Image/Ofertas/PROMOCION_5.PNG" alt="imagen blog">
                </div>

                <div class="entrada__contenido">
                
                    <a href="seguros" class="boton1 boton--primario">VER PROMOCIONES</a>
                </div>
            </article>

        </main>

        <aside class="sidebar">
            <h3>Nymajuyu</h3>

            <ul class="cursos no-padding">

                <video id="myVideoUbicacion" autoplay="" loop="" playsinline="" muted="" style="width:100%; height:100%">
                    <source src="https://farmaciasgaleno.com.gt/Image/Video/Ubicacion-Video.mp4" type="video/mp4">
                </video>
                <li class="widget-curso" >
                    <h4 class="no-margin"> Planes de Rinolastia</h4>
                    <!-- <p class="widget-curso__label">Precio:
                        <span class="widget-curso__info">Gratis</span>
                    </p> -->
                    <p class="widget-curso__label">Cupo:
                        <span class="widget-curso__info">20</span>
                    </p>
                    <a href="seguros" class="boton boton--secundario">Mas informacion</a>
                </li>

                <li class="widget-curso" >
                    <h4 class="no-margin">Cupos para medicamentos en descuentos</h4>
                    <!-- <p class="widget-curso__label">Precio:
                        <span class="widget-curso__info">Gratis</span>
                    </p> -->
                    <p class="widget-curso__label">Cupo:
                        <span class="widget-curso__info">20</span>
                    </p>
                    <a href="nosotros" class="boton boton--secundario">Mas informacion</a>
                </li>


            </ul>
        </aside>
    </div>

    <footer class="footer">
        <div class="contenedor">

        </div>

    </footer>
    
</body>
</html>