<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de ropa</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com"  crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&family=Staatliches&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>  
    <header class="header">   
        <a href="index.html">
            <img class="header__logo" src="img/logo.png" alt="Logotipo">
        </a>
    </header>
    
    <nav class="navegacion">
        <a class="navegacion__enlace" href="index.html">Tienda</a>  <!--son links  otras paginas-->
        <a class="navegacion__enlace navegacion__enlace--activo" href="nosotros.html">Nosotros</a>
    </nav>

    <main class="contenedor">
        <h1>Nosotros</h1>

            <div class="nosotros">
                <div class="nosotros__contenido">
                    <p> Intege laoreet ipsum egestas suscipit congue nisl nisl sollicitudin ligula, ut pulvinar risus leo in ante. 
                        In congue felis et quam elementum, eget scelerisque dolor sagittis. Morbi elementum malesuada lorem eu fermentum. 
                        Maecenas scelerisque, nibh at varius vulputate, elit metus mattis libero, vel lacinia tortor felis sed ex. 
                        Phasellus vulputate elit eget velit tristique placerat. Nunc id nibh ultrices, malesuada enim quis, elementum magna. 
                        Sed luctus imperdiet dolor eget tristique.
                    </p>
                    <p>
                        Nulla eget lacinia eros. Phasellus maximus magna nec eleifend aliquam. 
                        Praesent quam mi, lacinia non elementum faucibus, ultricies quis neque. 
                        Sed vestibulum elit id libero rhoncus, id ultricies eros volutpat. Phasellus sollicitudin quis diam nec vehicula. 
                        Quisque vel neque efficitur, sodales sem vitae, pulvinar est. Aliquam in ligula a quam egestas placerat a id quam. 
                    </p>
                </div>

                <img class="nosotros__imagen" src="img/nosotros.jpg" alt=" imagen nosotros">  <!--esto de alt, es una imagen alterinativa que aparecera cuando no se encuenta la imagen-->
            </div>

    </main>

    <section class="contenedor comprar">
        <h2 class="comprar__titulo">
            ¿Porque Comprar con Nosotros?
        </h2>

        <div class="bloques">

            <div class="bloque"> <!--inicio de este bloque-->
                <img class="bloque__imagen" src="img/icono_1.png" alt=" porque comprar">
                <h3 class="bloque__titulo"> El Mejor Precio</h3>
                <p>Nulla eget lacinia eros. Phasellus maximus magna nec eleifend aliquam.</p>
            </div> <!--fin del bloque-->

            <div class="bloque"> <!--inicio de este bloque-->
                <img class="bloque__imagen" src="img/icono_2.png" alt=" porque comprar">
                <h3 class="bloque__titulo"> Para devs</h3>
                <p>Nulla eget lacinia eros. Phasellus maximus magna nec eleifend aliquam.</p>
            </div> <!--fin del bloque-->

            <div class="bloque"> <!--inicio de este bloque-->
                <img class="bloque__imagen" src="img/icono_3.png" alt=" porque comprar">
                <h3 class="bloque__titulo"> Envio Gratis</h3>
                <p>Nulla eget lacinia eros. Phasellus maximus magna nec eleifend aliquam.</p>
            </div> <!--fin del bloque-->

            <div class="bloque"> <!--inicio de este bloque-->
                <img class="bloque__imagen" src="img/icono_4.png" alt=" porque comprar">
                <h3 class="bloque__titulo"> La mejor calidad</h3>
                <p>Nulla eget lacinia eros. Phasellus maximus magna nec eleifend aliquam.</p>
            </div> <!--fin del bloque-->

        </div> <!--fin de bloques-->

    </section>

    <footer class="footer">
        <p class="footer__texto">Font End Store - Todos los derechos Reservados 2022</p>
    </footer>
</body>
</html>